.env_coin_classifier
__pycache__
datasets/train.cache
datasets/val.cache
classifier_result/*

finetuning_result/*
!finetuning_result/yolov8n/
finetuning_result/yolov8n/*
!finetuning_result/yolov8n/best_config*
!finetuning_result/yolov8n/best.pt
!finetuning_result/yolov8n/augmentation_summary.csv

!finetuning_result/yolo11n/
finetuning_result/yolo11n/*
!finetuning_result/yolo11n/best_config*
!finetuning_result/yolo11n/best.pt
!finetuning_result/yolo11n/augmentation_summary.csv


